body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 130px;
    padding: 0;
    background-color: white;
}
/*月曆*/
.content {  
    justify-content: center;
    margin-top: 10px;  /*調整月曆與上方的間距 */
    /* align-items: flex-start;調整垂直方向對齊，可以根據需要更改*/
    text-align: center; 
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;/* 調整垂直方向對齊，可以根據需要更改 */
    /* @* background-color: #F4EBD9; *@ */
    border-radius: 10px;
}
.text{
    display: flex;
    /* margin-left: 450px; */
    /* @* align-items: flex-start; *@ */
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    padding: 12px;
    /* margin:auto 40px auto 40px; */
    /* min-width: 100px; */
    font-weight: bold;/*粗體字*/
}



/*選擇科別按鈕*/
.button-style {
    background-color: transparent;
    background-color: white;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 3px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    font-size: 18px;
    font-weight: bold; /* 粗體*/
    text-align: center;
    min-width: 100px;
    border: 1px solid #b0b0b0;
    border: 1px solid #4c4b4b;
    border-radius: 25px;
    padding: 5px 8px;
    margin-left:6px ;
    margin-right:10px ;
}
/* .button-style:hover {
    color: #B8A8A8;
} */

.dropdown{
    display: flex;
}



/* 排班員工名字、顏色 */
.person {
    font-size: 12px;
    margin-top: 2px;
    color: #555;
}

.green-background{
    font-weight: bold;
    margin-top:5px;
    /* margin-left: 5px; */
    padding: 1px 8px;
    /* background-color: #ddc2b9;
    background-color:#fae7e0; */
    background-color: #e5a99b;
    border-radius: 3px;
    /* border-left:5px solid #e4734a; 添加左框線 */
    /* color: white; */
    /* background: linear-gradient( #ffffff 50%, #fae7e0 0%) !important; */
}
.blue-background{
    font-weight: bold;
    margin-top:5px;
    /* margin-left: 5px; */
    padding: 3px 8px;
    /* background-color: #d5c5e7;
    background-color: #ded1ed; */
    /* background-color: white; */
    /* border-left:thick solid #9a57e6; 添加左框線  */
    /* color: white; */
    background-color: #9fb5e4;
    border-radius: 3px;
    /* background: linear-gradient( #ffffff 50%, #ded1ed 0%) !important; */
}
.purple-background{
    font-weight: bold;
    margin-top:5px;
    padding: 1px 8px;
    background-color: #e49fcd;
    border-radius: 3px;
}

.four-background{
    font-weight: bold;
    margin-top:5px;
    padding: 1px 8px;
    background-color: #e4e49f;
    border-radius: 3px;
}
.five-background{
    font-weight: bold;
    margin-top:5px;
    padding: 1px 8px;
    background-color: #a6e9aea5;
    border-radius: 3px;
}
.default-background{
    font-weight: bold;
    margin-top:5px;
    padding: 1px 8px;
    background-color: #fffffe;
}

/* "儲存排班" 按鈕樣式 */
.save-scheduling {
    margin-left:20px;
    text-align: center;
}
.save-scheduling {
    background-color:rgba(169, 206, 204, 0.3);
    color:rgb(62, 201, 194);
    color:rgb(49, 172, 166);
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.alrightsave-scheduling{
    margin-left:20px;
    text-align: center;
    background-color:rgba(199, 154, 154, 0.3);
    color:rgb(172, 49, 49);
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}
.buttoncontainer{
    display: flex;
    /*容器樣式*/
    background-color: white;
    /* background-color: #7ed7c161; */
    /* style="background-color:  rgba(154, 199, 195, 0.3);"  */
    /* background-color: transparent; */
    padding: 16px;
    border-radius: 8px;
    /*容器排版*/
    /* display: flex; */
    align-items: center;  
    justify-content: center;
    text-align: center;
    width: auto;
    margin:30px 50px 10px 50px;/*上右下左*/
    /* font-weight: bold;粗體字 */
}