@{ Layout = null; } @*取消導航欄*@
@using Demo.Models;
@{
    Doctor doctor=ViewBag.doctor;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">  
    <style>
        li{
            font-size:20px;  
        }
        a{
            font-size:20px;
        }
        /* 標題 */
        .navbar-brand{
            font-size: 22px;
            /* margin-left:-2px ;*/
            color:#5A5859 ;
            /* @* color:#4A79D1; *@ */
            /* font-weight: bold; */
            /* margin-top: 25px; */
            /* vertical-align: super; */
            /*font-family: SimSun;*/
        }
        .nav-item{
            margin:0 5px;
            
        }
        .nav-link{
            background-color: white;
             @* color: #242424;  *@
            cursor: pointer;/*鼠標懸停樣式*/
            text-decoration: none;/*除下劃線*/
            transition: color 0.3s;
            font-size: 18px;
            font-weight: bold; /* 粗體*/
            text-align: center;
            padding: 5px 5px;
            min-width:130px;
        }
        .nav-link.active{
            color:rgba(154, 162, 199, 0.619);
            background-color: rgba(169, 206, 204, 0.3);
            /*min-width: 100px;*/
            border-radius: 25px;
            
        }
        .flex p{
            font-size: 18px;
            font-weight: bold; /* 粗體*/
            color: #676666; 
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    @* <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #C6D8CB;"> *@
    <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: white;">    
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size:25px;">
                <img src="~/image/logo.png" width="" height="45" >
                醫護人員排班系統
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto"  >
                    <li class="nav-item">
                        <a class="nav-link active" id="index" aria-current="page" href="/Doctor/Index">暫定班表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="history" href="/Doctor/HistorySchedule">歷史班表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="scheduling" href="/Doctor/Scheduling">排班日期</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto" >
                    <li class="flex" >
                        <p id="navDoctorName" data-doctorname=@doctor.Doctor_Name>@doctor.Doctor_Name 醫生</p>
                        <a class="nav-link" href="/Home/Index">登出</a>
                    </li> 
                </ul>    
            </div>
        </div>
    </nav>
</body>
</html>
