body {
    font-family: Arial, sans-serif;
    /* margin: 100px 0; */

    padding: 0;
    background-color: white;
}
.special-font{
    margin-left:10px;
    margin-top: 5px;
    font-size: 26px;
    letter-spacing:1px;
    font-weight: bold;/*粗體字*/
    background: linear-gradient( #ffffff 40%, rgba(154, 199, 195, 0.5) 0%) !important;
}
.text{
    /* display: flex; */
    /* display: inline; */
    align-items: center;  
    justify-content: center;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    margin:5px auto 5px auto;/*上右下左*/
    /* background-color: rgb(154, 196, 192); */
    /* background-color: #f0f0f0bd; */
    width: 200px;
    border-radius: 5px; 
    border-bottom-color:#555;
}
/*選擇科別按鈕*/
label{
    font-weight: bold;
    font-size: 22px;
    
}
    /* .button-style:hover {
    color: #B8A8A8;
}  */

.dropdown{
    display: flex;
}


/* 排班員工名字、顏色 */
.person {
    font-size: 12px;
    margin-top: 2px;
    color: #555;
}
