body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white ;
    /* background-color: #d3e6f0c1; */
    background-color: rgba(154, 199, 195, 0.544);
}

.card{
    border-radius: 20px;
    height: 100vh;   
}

.person {
    font-size: 12px;
    margin-top: 2px;
    color: #555;
}

.left-background{
    /* background-color: rgba(0, 0, 0, 0.82); */
    border-radius: 10px; /* 添加圓角 */
    width: 300px;
    /* min-height: 700px; */
    /* margin: 0 auto;將此灰色方塊置中 */
    /* padding: 10px; */
    /* margin 上 | 右 | 下 | 左 */
    /* margin-top: 10px; */
    /* margin: 0 20px 0  0 ; */
    /* margin-left: 30px; */
    margin-right:30px;
    /* padding-bottom:250px; */
    display: flex;
    margin-left: -80px;
    margin-top: -50px;
    /* align-items: center;調整垂直方向對齊，可以根據需要更改 */
}
.list-group {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* 陰影效果 */
    width: 18rem;
}
.list-group-item .selected{
    background-color: #e70707;
}
/* 月份按鈕 */
.month-button{
    background-color: white;
    border-radius: 5px; 
    border: 1px solid rgb(0, 0, 0);
    /* color: #A45151; */
    color: rgb(0, 0, 0);
    padding: 3px 4px;
    /* margin-left: 15px; */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*科別文字樣式*/
.selected-info {
    /* background-color: #c0b0b0;  */
    /* background-color: rgb(152, 203, 199); */
    background-color:white;
    background-color: rgba(242, 242, 242, 0.82);
    background-color:rgba(169, 206, 204, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: auto;
    margin: 5px 5px;
    text-align: center;
    font-weight:bold;
    border-radius: 5px; /* 添加圓角 */
}
.selected-info h3 {
    font-weight:bold;
    font-size: 24px;
}
/* 班數表格區 */
.list-background{
    background-color: rgba(242, 242, 242, 0.82);
    background-color:white;
    border-radius: 10px; /* 添加圓角 */
    width: 1000px;
    margin: 0 auto;/*將此灰色方塊置中*/
    padding: 15px;
    margin-top: 20px;
}
.list button{
    margin-left: 35%;
}

/*醫師班數選擇列表*/
/* #doctor-list{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
} */
#doctorList {
    font-size: 20px;
    list-style: none; /* 移除列表項的點 */
    padding: 0 10px; /* 清除列表的內邊距 */
    margin-bottom: 10px;
    margin-top: 20px;
}

#doctorList span {
    display: inline-block;
    width: 450px; /* 設定醫生名字欄位的寬度 */
}
#doctorList input {
    font-size: 16px;
    width: 50px; /* 設定班數選擇按鈕的寬度 */
}
/*日期按鈕*/
#doctorList .date-button{
    width: 120px;
}

#doctorList th {
    padding: 8px 8px;
    white-space: nowrap; /* 防止文字換行 */
    text-align: center; /* 將文本對齊方式改為左對齊 */
    border-bottom: 1px solid #1c1c1c; /* 底線樣式，可以根據需要調整顏色和寬度 */
    font-weight:normal;
    justify-content: center;
}

#doctorList td {
    padding: 10px 8px;
    text-align: center; /* 將文本對齊方式改為左對齊 */
    border-bottom: 1px solid #898989; /* 底線樣式，可以根據需要調整顏色和寬度 */
    
}

/* 完成/未完成提示 */
.finished{
    border-radius: 25px; 
    padding: 3px 4px;
    font-size: 14px;

    background-color: white;
    border: 1px solid rgb(226, 73, 73);
    color: rgb(226, 73, 73);

    /* color: white;
    background-color: rgb(227, 98, 98); */
    /* color: #A45151; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: auto;
}
.unfinished{
    border-radius: 25px; 
    padding: 3px 4px;
    font-size: 14px;

    border: 1px solid rgb(188, 184, 184);
    color: rgb(188, 184, 184);

    /* color: white;
    background-color: rgb(188, 184, 184); */
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: auto;
}