@* newindex *@
@{ Layout = null; } @*取消導航欄*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 其他的 head 內容（如額外的 CSS 連結或樣式） -->
    <link href="~/css/styles.css" rel="stylesheet">

    <style>
        .title-text2 {
            @* display: inline-block; /* 使元素变成行内块元素，以便设置上边距 */ *@
            font-size: 24px;
            text-align: center;
            font-family: SimSun;
            font-weight: bold;
            padding: 30px;
            color: #5A595A;
        }

        img{
            height: 50;
            width: 50;
            margin: 15px;
        }
        .login-box{
            border-radius: 10px; 
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);   
        }
    </style>
</head>
<body>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 頁面內容 -->
    <!-- 固定寬度的容器 -->
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 95vh;">
            <div class="col-12 col-md-6 col-lg-4">  
                <div class="login-box p-4 border border-light">
                <img src="~/image/fjcu_logo.png" >
                <div class="title-text2">醫護人員排班系統登入</div>
                    <!-- 頁籤導航 -->
                    <ul class="nav nav-tabs nav-justified mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#managerTab">管理者</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#doctorTab">醫師</a>
                        </li>
                    </ul>
                    <!-- 頁籤內容 -->
                    <div class="tab-content">
                        <div id="managerTab" class="container tab-pane active">
                            <!-- 管理者登入表單 -->
                            <br>
                            @* <h2 class="display-8 text-center mb-4">管理者登入</h2> *@
                            <form id="managerLoginForm" action="/Home/ManagerLogin" method="post"  >
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="username" name="Username" placeholder="帳號" required>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password" name="Password" placeholder="密碼" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-custom">登入</button>
                                </div>
                            </form>
                        </div>
                        <div id="doctorTab" class="container tab-pane fade">
                            <!-- 醫師登入表單 -->
                            <br>
                            <form id="doctorLoginForm" action="/Home/DoctorLogin" method="post" >
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="username" name="Username" placeholder="帳號" required>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password" name="Password" placeholder="密碼" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-custom">登入</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

 