@{ Layout = null; } @*取消導航欄*@
@using Demo.Models;
@{
    List<Doctor> doctors = ViewBag.doctors;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暫定班表</title>
    <link href="../css/Manager/Index.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <!-- 導航欄 -->
    <div id="sharedContentContainer" style=""></div>
    <!-- 內容 -->
    <div class="content" >
        <!-- 選擇按鈕 -->
        <div class="buttoncontainer">
            <div class="dropdown-department">
                <label for="departmentSelect">部門:</label>
                <select id="departmentSelect" class="button-style">
                    <option value=null selected>--請選擇部門--</option>
                    <option value="內科部">內科部</option>
                    <option value="外科部">外科部</option>
                    <option value="心臟血管醫學部">心臟血管醫學部</option>
                    <option value="兒童醫學部">兒童醫學部</option>
                    <option value="婦產部">婦產部</option>
                    <option value="其他專科">其他專科</option>
                    <option value="特色中心">特色中心</option>
                    <option value="新冠肺炎專區">新冠肺炎專區</option>
                </select>
                <label for="sub-departmentSelect">科別:</label>
                <select id="sub-departmentSelect" class="button-style" >
                <option value=null selected>--請先選擇部門--</option>
                </select>
            </div>   
            
        </div>
        <!-- 標題顯示 -->
        <div class="text">    
            <div id="currentMonthText" style="font-size: 26px;"></div> 
            @* <div id="currentMonth" style="font-size: 30px;" >暫定班表</div> *@
        </div>
        <!-- 表格 --> 
        <div class="flex">
            <!-- 醫生班數 --> 
            <table class="doctor-table">
                    <thead>
                        <tr>
                            <th>醫生名字</th>
                            <th>班數</th>
                        </tr>
                    </thead>
                    <tbody id="doctors-body">
                    <!-- JavaScript 生成 -->
                    </tbody>
            </table>  
            <!-- 班表月曆 -->
            <table>
                <thead>
                    <tr>
                        <th>日</th>
                        <th>一</th>
                        <th>二</th>
                        <th>三</th>
                        <th>四</th>
                        <th>五</th>
                        <th>六</th>
                    </tr>
                </thead>
                <tbody id="calendar-body">
                    <!-- JavaScript生成 -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Manager/manager.js" asp-append-version="true"></script>
    <script>
    
        //使用共享的導航欄
        // 使用 fetch 加载共享的 HTML 内容
        fetch('/Manager/ManagerShare')
            .then(response => response.text())
            .then(html => {
                // 将加载的 HTML 插入到共享容器中
                document.getElementById('sharedContentContainer').innerHTML = html;
            }
        );
    
    </script>

</body>
</html>



