@{ Layout = null; } @*取消導航欄*@
@using Demo.Models;
@{
    List<Doctor> doctors = ViewBag.doctors;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:white ;
        }

        .person {
            font-size: 12px;
            margin-top: 2px;
            color: #555;
        }
        

        /*科別文字樣式*/
        .selected-info {
            @* background-color: #c0b0b0; *@
            background-color: #CCE4F0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 10px; /* 添加圓角 */
            padding: 15px;
            width: 1000px;
            margin: auto;
            margin-top: 50px;
        }

        .selected-info h3 {
            margin: 0; /* 清除標題的預設邊距 */
            margin-left: 30px; /* 可以根據需要調整標題之間的間距 */
            font-size: 20px;
        }

        .selected-info p {
            font-size: 20px;
            margin: 0;
            
        }

        .list-background{
            background-color: rgba(242, 242, 242, 0.82);
            border-radius: 10px; /* 添加圓角 */
            width: 1000px;
            margin: 0 auto;/*將此灰色方塊置中*/
            padding: 15px;
            margin-top: 20px;
        }
        .list button{
            margin-left: 35%;
        }

        /*醫師班數選擇列表*/
        .doctor-list{
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
        }
        #doctorList {
            font-size: 20px;
            list-style: none; /* 移除列表項的點 */
            padding: 0 10px; /* 清除列表的內邊距 */
            margin-bottom: 10px;
        }
    
        #doctorList span {
            display: inline-block;
            width: 150px; /* 設定醫生名字欄位的寬度 */
        }
        #doctorList input {
            font-size: 16px;
            width: 50px; /* 設定班數選擇按鈕的寬度 */
        }
        /*日期按鈕*/
        #doctorList .date-button{
            width: 120px;
        }
        table {
            border-collapse: collapse;  
        }
        th {
            padding: 10px 100px;
            white-space: nowrap; /* 防止文字換行 */
            text-align: center; /* 將文本對齊方式改為左對齊 */
            border-bottom: 1px solid #1c1c1c; /* 底線樣式，可以根據需要調整顏色和寬度 */
        }
        td {
            padding: 20px 100px;
            
            text-align: center; /* 將文本對齊方式改為左對齊 */
            border-bottom: 1px solid #898989; /* 底線樣式，可以根據需要調整顏色和寬度 */
        }
        /* "儲存排班" 按鈕樣式 */
        .start-scheduling {
            text-align: center;
        }
        .start-scheduling button {
            background-color:#65b297 ;
            background-color: #5B9B80;
            color: rgb(255, 255, 255);
            padding: 15px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin-top: 50px;
        }

        .start-scheduling button:hover {
            background-color: #8BBBA6;
        }
        
    </style>
</head>
<body>
    <div id="sharedContentContainer"></div>

    <!-- 顯示所選值的元素 -->
    <div class="selected-info">
        <h3>科別：</h3>
        <p id="selectedDepartment"></p>
        <h3>病房：</h3>
        <p id="selectedWard"></p>
        
        
    </div>
    <div class="list-background">
        <form method="post" action="/Manager/CreateShift">
            <ul id="doctorList">
                <!-- 醫生名字和班數選擇按鈕將在這裡動態添加 -->
                <div class="center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>醫師</th>
                                <th>班數</th>
                                <th>日期設定</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (doctors != null)
                        {
                            @foreach (Doctor doctor in doctors) // 假設 Model 是從後端傳來的醫生列表
                            {
                                <tr>
                                    <td class="nowrap">@doctor.Name</td> <!-- 這裡顯示每位醫生的名字 -->
                                    <td><input type="number"id="doctor@doctor.ID" name="Shift" min="0" max="5" value="@doctor.Shift"></td>
                                    <td>
                                        <input type="date" class="date-button">
                                        <button type="button" class="btn btn-secondary btn-add-date">+</button>
                                    </td>
                                    <hr>
                                </tr>
                                <!-- 其他醫師排班行 -->
                            }  
                        }
                        </tbody>
                    </table>
                </div>
                <div class="start-scheduling">
                    <button id="SaveSchedule"class="button" type="submit">儲存班數及日期</button>
                </div>
            </ul>
        </form>  
    </div>
    <script src="~/js/schedule_setting.js" asp-append-version="true"></script>
    
    <script>
        // 使用 fetch 顯示 Share 導航欄的檔案
        fetch('/Manager/Share')
            .then(response => response.text())
            .then(html => {
                // 将加载的 HTML 插入到共享容器中
                document.getElementById('sharedContentContainer').innerHTML = html;
            }
        ); 
    </script>
    
</body>
</html>
